DATABASE_URL="file:./prod.db"

NOVYN_DIRECTOR_PASSWORD=""
NOVYN_ACCOUNTANT_PASSWORD=""
NOVYN_CSKH_LEAD_PASSWORD=""
NOVYN_CSKH_STAFF_PASSWORD=""
NOVYN_MANAGER_Q1_PASSWORD=""
NOVYN_MANAGER_TD_PASSWORD=""
NOVYN_EMPLOYEE_Q1_PASSWORD=""
NOVYN_EMPLOYEE_TD_PASSWORD=""
NOVYN_EMPLOYEE_TAM_PASSWORD=""
NOVYN_EMPLOYEE_NAM_PASSWORD=""
NOVYN_CASHIER_Q1_PASSWORD=""
NOVYN_STOCKER_Q1_PASSWORD=""
NOVYN_CUSTOMER_PASSWORD=""
